body, html {
    height: 100%;
    margin: 0;
    background: #ebeef1;
}

/* navbar css start */

.nav-item .nav-link.active {
    color: #ffffff;
    background: #3876BF;
    font-weight: 700;
    outline: 0px;
}

.navbar-toggler {
    background: #ec6d1e;
}

.nav-link {
    color: #ffffff;
    padding: 30px 15px 8px !important;
    --bs-nav-link-hover-color:#9EC8B9 !important;
}

nav.navbar.navbar-expand-lg.bg-light {
    padding: 0px 20px 10px 20px;
}

.bg-nav-color{
    background-color: #192655;
}

.logo-color{
    color: white;
    /* text-align: center; */
    padding-left: 4rem;
    font-size: 28px;
}
/* navbar css end */

@media (max-width:500px) {
    .icon-hide{
        display: none !important;
    }
}

/* Home css start */

.top-content{
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
}

#home-bg{
    background: linear-gradient(200deg, #30318f, #00b6f8, #c2e4f6);
    padding-top: 5rem;
}

.home-h{
    font-weight: 700;
    color: #ffffff;
    font-size: 3.5rem !important;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}

.abou-sh{
    color: #fff; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.gradient-text {
    background-color: #9EC8B9;
    background-image: linear-gradient(45deg, #F3F0CA);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 55px;
}

/* Home css end */

/* Home about css start */

.main {
    transition: all ease .5s;
    overflow: hidden;
    box-shadow: 1px 10px 15px 0px rgb(56 118 191);
}

.shadow{
    box-shadow: 1px 10px 15px 0px rgb(56 118 191) !important;
}

.border-card-one {
    border-color: transparent;
    border-left: 0.3rem solid #eb6d1e !important;
    padding: 1rem;
}

#our-areas-of-expertise{
    overflow: hidden;
    position: relative;
    padding-bottom: 5rem;
    height: auto !important;
}

.overlay{
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    animation: zoomInOut 1.5s ease-in-out forwards;
}

.overlay-home{
    background-image: url("images/abc3.jpg");
}

.overlay-about{
    background-image: url("images/about.jpg");
}

.overlay-home-service{
    background-image: url("images/home-service-bg.png");
}

.overlay-service-ai{
    background-image: url("images/ai-consulting-top.jpg");
}

.overlay-service-dm{
    background-image: url("images/data.jpg");
}

.overlay-service-pd{
    background-image: url("images/software-development.jpg");
}

.overlay-service-ra{
    background-image: url("images/automation.jpg");
}

.overlay-service-sap{
    background-image: url("images/SAP_HANA_1.jpg");
}

.overlay-service-cloud{
    background-image: url("images/cloud-3.webp");
}

.overlay-service-pp{
    background-image: url("images/power-platform.webp");
}

@keyframes zoomInOut {
    0% {
      transform: scale(0.9); /* Start at 90% scale */
      opacity: 0;
    }

    100% {
      transform: scale(1); /* End at original scale */
      opacity: 1;
    }
}

.hexagon {
    position: relative;
    width: 4rem; /* Adjust width as needed */
    height: 4rem; /* Adjust height as needed */
    background-color: #ddd; /* Adjust background color */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); 
    /* https://bennettfeely.com/clippy/ */
    text-align: center;
    line-height: 4rem; /* Ensures icon is vertically centered */
    opacity: 0.4;
  }
  
  .hexagon a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  /* Optional: Increase specificity for better control (if needed) */
  .scrolled .hexagon i {
    animation: fadeOut 0.5s ease forwards;
  }

.box-size{
    padding: 0 0;
    padding-top: 0.5rem;
    background: #FFFFFF;
    padding: 44px 26px 20px;
    margin-top: -29px;
    border-bottom: 4px solid #eb6d1e;
    text-align: left;
    box-shadow: 1px 10px 15px 0px rgb(56 118 191) !important;
}

.icon-design {
    padding: 5px 15px 0px 15px;
    width: 94px;
    height: 94px;
    color: #fff;
    font-size: 42px;
    font-size: 38px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 0;
    display: inline-table;
    background: transparent;
    color: #ec6d1e;
    font-style: normal !important;
    background: #F5F5F5;
    box-shadow: 0px 3px 0px #A2A2A2;
}

/* Home about css end */

/* Home product css start */

#products-home{
    background-color: #3876BF;
    min-height: 43rem;
}

.product-card{
    background-color: #192655;
    padding: 32px 30px;
    position: relative;
    min-height: 490px;
    max-width: 340px;
    transition: all .3s ease-in;
    margin-top: 0.625rem;
    border-left: 4px solid #eb6d1e;
}

.product-card:hover{
    background-color: #fff;
    min-height: 510px;
    transform: translateY(-12px);
}

.cards-wrapper__card-body__hover-image {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    transform-origin: bottom left;
    transition: transform .3s ease-in;
    overflow: hidden;
}

.mask-image-services {
    height: 253px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 100%;
}

.product-card:hover>.cards-wrapper__card-body__hover-image {
    opacity: 1;
    transform: scale(1);
}

.mask-image-services>img {
    height: 100%;
    width: 100%;
}

.hov_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"316\" height=\"253\" viewBox=\"0 0 316 253\" fill=\"none\"><path d=\"M-76.9403 13.0041C-71.3437 4.8635 -62.098 0 -52.2191 0H62H176.219C186.098 0 195.344 4.86351 200.94 13.0041L310.315 172.095C317.354 182.333 317.354 195.849 310.315 206.087L200.94 365.178C195.344 373.318 186.098 378.182 176.219 378.182H62H-52.2191C-62.098 378.182 -71.3437 373.318 -76.9403 365.178L-186.315 206.087C-193.354 195.849 -193.354 182.333 -186.315 172.095L-76.9403 13.0041Z\" fill=\"white\"/></svg>");
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"316\" height=\"253\" viewBox=\"0 0 316 253\" fill=\"none\"><path d=\"M-76.9403 13.0041C-71.3437 4.8635 -62.098 0 -52.2191 0H62H176.219C186.098 0 195.344 4.86351 200.94 13.0041L310.315 172.095C317.354 182.333 317.354 195.849 310.315 206.087L200.94 365.178C195.344 373.318 186.098 378.182 176.219 378.182H62H-52.2191C-62.098 378.182 -71.3437 373.318 -76.9403 365.178L-186.315 206.087C-193.354 195.849 -193.354 182.333 -186.315 172.095L-76.9403 13.0041Z\" fill=\"white\"/></svg>");
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
}

.link-color{
    color: #fff;
}

.product-box{
    max-width: 340px;
}

.btn-product{
    position: absolute;
    bottom: 1.875rem;
    left: 1rem;
}

.btn-product-arrow{
    width: 64px;
    height: 48px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    /* background: #eb6d1e; */
    align-items: center;
}

/* Home product css end */

/* Creatio page start */

.product-text-bg{
    background: #f2f6f7;
    padding: 2rem;
    opacity: 0.8;
}

.accordian-roadmap{
    background: #f1f2f2 !important;
}

/* creatio page end */

/* Home contact start */

.contact-r form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #00b6f8;
    padding: 15px;
    margin: 15px 0;
    color: #e86e22;
}

.contact-footer{
    background: linear-gradient(160deg, #c2e4f6, #c2e4f6, #3876BF)
}

#contact {
    background: #192655;
}

.border-bottom{
    border-bottom: #ec6d1e 2px solid !important;
}

/* Home contact end */

.logo-color-1{
   /* color: #2e3192;*/
   color: #092635;
   font-weight: 700;
}

.text-color{
    color: #192655 !important;
}

.pt-6{
    padding-top: 6rem;
}

/* #our-areas-of-expertise{
    -ms-zoom: 90%;
    background-image: url("D:/AdeptNova/adeptNovaWebsite/AdeptNove_StaticWeb/images/bg-service.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 2rem;
} */

.banner_img_1{
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
    animation: zoomIn 1s ease-in-out;
}
    

/* Services ai consulting start */

.ai_consulting_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 100%;
    padding: 0 80px;
    color: #fff;
}

.ai-card-color-1{
    background: #192655;
}

.ai-card-color-2{
    background: #3876BF;
}

.ai-card-color-3{
    background: #E1AA74;
}

.ai-card-color-4{
    background: #F3F0CA;
}

/* Services ai consulting end */

.basic-box{
    border-bottom: 4px solid #eb6d1e;
    /* clip-path: polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%); */
    box-shadow: 2px 10px 15px 2px rgb(56 118 191) !important;
}
